/*.iml
/.idea
/build
/node_modules
/test-output
protractor/testresults
/vendor
/dist
/deploy
/bin
/coverage
/config/coverage
/config/test/coverage
/config/test/TESTS-*
npm-debug.log

src/app/packageConfig\.js

coverage/report-lcov/
yarn-error.log

\.DS_Store
.yalc
yalc.lock